.row
	.col-lg-12.table
		.header
			img(src="imgs/header.png")
			img(src="{{newImg}}")
			
		table(ng-hide="editModeOn")
			tr
				th.center sillonista
				th.center pj
				th.center pts.
			tr(ng-repeat="player in players")
				td.player-data
					img.player-image(src="{{player.img}}")
					div.player-name {{player.name}}
				td.center
					div {{player.pj}}
				td.center
					div {{player.pts}}
			tr
		table(ng-show="editModeOn")
			tr
				th.center sillonista
				th.center pj
				th.center pts.
			tr(ng-repeat="player in players")
				td.player-data
					img.player-image(src='{{player.img}}')
					<div ng-file-reader on-readed="onReaded( event, file )" player-index="$index" read-method="readMethod"></div>
					div.player-name 
						input(type="text",ng-model='player.name')
				td.center
					div
						input(type="number", ng-model='player.pj')
				td.center
					div
						input(type="number", ng-model='player.pts')
			tr
		div.btnsContainer
			button.btnEdit(ng-click="editModeOn=true", ng-hide="editModeOn") Editar 
			button(ng-click="addPlayer()", ng-show="editModeOn") Nuevo
			button(ng-click="editModeOn=false", ng-show="editModeOn") Cerrar
